# Import Libraries

In [1]:
import pandas as pd

# Read in X-ray file path and create data frame
This file is the X-ray catalog of sources in IC 342 that we found at a probability of 99%. 

142 Sources. 
This only includes the X-ray sources that are within our HST observation. 

The columns are source name, ra, dec,

In [2]:
file_path_Xray = 'Xray99_final.txt'

In [3]:
df_Xray = pd.read_csv(file_path_Xray, sep=',', header=None)

### Change column names

In [4]:
column_names_Xray = ['source', 'ra', 'dec', '?', '?', 'sig1', 'sig2', 'sig3']

In [5]:
df_Xray.columns = column_names_Xray

In [6]:
# dropping two of the columns we do not need
drop_col_Xray = [col for col in df_Xray.columns if '?' in col]

df_Xray = df_Xray.drop(columns=drop_col_Xray)

In [7]:
df_Xray

                 source         ra        dec      sig1      sig2      sig3
0    034642.35+680938.2  56.676577  68.160591  2.561205  5.122410  7.683615
1    034643.19+680211.6  56.680053  68.036526  2.471818  4.943636  7.415454
2    034702.73+681001.6  56.761489  68.167083  2.316915  4.633831  6.950746
3    034644.91+680859.1  56.687242  68.149708  2.210881  4.421761  6.632642
4    034619.81+680837.5  56.582643  68.143720  2.182250  4.364499  6.546749
..                  ...        ...        ...       ...       ...       ...
137  034652.81+680504.5  56.720169  68.084545  0.493928  0.987855  1.481783
138  034559.57+680538.0  56.498318  68.093858  0.493555  0.987110  1.480664
139  034648.44+680547.2  56.701931  68.096418  0.483667  0.967335  1.451002
140  034643.65+680611.3  56.681968  68.103121  0.482793  0.965587  1.448380
141  034657.45+680619.3  56.739500  68.105335  0.481599  0.963197  1.444796

[142 rows x 6 columns]